<h1>アバウトページ</h1>
<p>・このサイトについて<br>
	Nagano_cakeは、このサイトを予告なく終了することがあります。<br>
	最新の内容をご確認いただきますよう、お願い申し上げます。
</p><br><br>
<p>・店舗情報<br>
Nagano_cakeは、味わう、そして視る、聴く、嗅ぐ、触れるという五感全てに訴えかけ、<br>
心に印象をきざむお菓子を作りたいという気持ちの表れです。
</p>