<div class="container">
	<div class="row">
		<div class="col-xs-4 col-xs-offset-1">
			<div class="title">
				<h1>アバウトページ</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<div class="about">
				・このサイトについて
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-6 col-xs-offset-4">
			Nagano_cakeは、このサイトを予告なく終了することがあります。
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-4">
			最新の内容をご確認いただきますよう、お願い申し上げます。
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<div class="about">
				・店舗情報
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-4">
			Nagano_cakeは、味わう、そして視る、聴く、嗅ぐ、触れるという五感全てに訴えかけ、
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-4">
			心に印象をきざむお菓子を作りたいという気持ちの表れです。
		</div>
	</div>
</div>
