<header></header>
<div class="container">
  <div class="row">
	<div class="col-xs-3">
	  <table border="1">
		<tr>
		  <th>
		  <h2>ジャンル検索</h2>
		  </th>
		</tr>
	  	<tr>

<!-- 	  	実際の繰り返し
	  	  <td>
	  	  	<%= @genre.each do |genre| %>
	  	  	  <h3><%=link_to genre.name, items_index %></h3><br>
	  	  	<% end %>
	  	  </td> -->

<!-- 	  	練習 -->
		  <td>
		  	<h3>パンだ</h3><br>
		  	<h3>パンだ</h3><br>
		  	<h3>パンだ</h3><br>
		  </td>

	  	</tr>
	  </table>
	</div>


	<div class="col-xs-9">
	  <div background-image = "asset/home-baked-cake">
	  	<h4>
	  	  ようこそNagano Cakeへ！<br>
	  	  このサイトは、ケーキ販売のECサイトになります。<br>
	  	  会員でない方も商品の閲覧はできますが、<br>
	  	  購入には会員登録が必要になります。<br>
	  	</h4>
	  </div>
	  <h1><strong>オススメ商品</strong></h1>
	</div>
	<p align="right">もっと見る</p>
  </div>
</div>
<footer></footer>