<div class="container">
  <div class="row">
	<div class="col-xs-3">
	  <thead><th>ジャンル検索</th></thead><br>
	  <tbody>
	  	<tb>ケーキ</tb><br>
	  	<tb>焼き菓子</tb><br>
	  	<tb>プリン</tb><br>
	  	<tb>キャンディ</tb><br>
	  </tbody>
	</div>

	<div class="col-xs-9">
	  <h1><strong>オススメ商品</strong></h1>
	</div>
	<p align="right">もっと見る</p>
  </div>
</div>