<div class="container">
	<div class ="row">
		<div class= "col">


			<h1>商品一覧</h1>
			<% @items.each do |item| %>

			<%= attachment_image_tag(item, :image, size: "200x200") %><br>
			<%= link_to item.name, item_path(item) %><br>
			<%= item.non_taxed_price %><br>

			<% end %>

		</div>
	</div>
</div>

